{%- assign r = include.ref | default: "" -%}
{%- if r != "" -%}
  {%- case r -%}
  {%- when "신한어림" -%}
    <img class="reference-icon" src="{{ '/assets/icons/신한어림.svg' | relative_url }}" alt="신한어림" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "자통" -%}
    <img class="reference-icon" src="{{ '/assets/icons/자통.svg' | relative_url }}" alt="자통" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "신자원" -%}
    <img class="reference-icon" src="{{ '/assets/icons/신자원.svg' | relative_url }}" alt="신자원" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "한자원" -%}
    <img class="reference-icon" src="{{ '/assets/icons/한자원.svg' | relative_url }}" alt="한자원" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "대한화사전" -%}
    <img class="reference-icon" src="{{ '/assets/icons/대한화사전.svg' | relative_url }}" alt="대한화사전" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "코지엔" -%}
    <img class="reference-icon" src="{{ '/assets/icons/코지엔.svg' | relative_url }}" alt="코지엔" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "대사천", "디지털대사천", "大辞泉", "デジタル大辞泉" -%}
    <img class="reference-icon" src="{{ '/assets/icons/대사천.svg' | relative_url }}" alt="디지털대사천" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "자통망" -%}
    <img class="reference-icon" src="{{ '/assets/icons/자통망.svg' | relative_url }}" alt="자통망" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- when "국어대사전", "일본국어대사전", "日本国語大辞典" -%}
    <img class="reference-icon" src="{{ '/assets/icons/국어대사전.svg' | relative_url }}" alt="일본국어대사전" width="18" style="margin-left: 0.1em; vertical-align: -3px;" />
  {%- else -%}
    {{ r }}
  {%- endcase -%}
{%- endif -%}
